.container {
  min-height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 229, 229, 0.712);
}

.title-content {
  background-color: white;
  background-image: url("./images/header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Section */

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.toolbar-mobile {
  justify-content: center;
  align-items: center;
  border: blue;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  height: 122px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  padding: 20px;
  padding-bottom: 0;
}

.social-media {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.media-text {
  padding: 0 20px 0 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media-icon {
  display: flex;
  width: 120px;
  justify-content: space-between;
  padding: 20px;
}

li {
  list-style: none;
}

.works {
  padding-top: 50px;
  justify-content: center;
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: auto;
  width: 327;
  height: 552;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding-top: 10px;
  margin: 20px;
}

.box {
  width: 8px;
  height: 8px;
  background-color: grey;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.card-content > ul {
  display: flex;
  padding-left: 10px;
  margin-top: 0;
}
.card-content > ul > li {
  padding: 7px;
}
.card-content > h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 10px;
}
.card-content > ul li:first-child {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}
.card-content p {
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 0 20px 0 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.see-project {
  display: flexbox;
}

.see-project p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #9eb4ec;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 24px;
  margin-left: 20px;
}

.nav-item > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  background: #ffffff;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-item ul li {
  background: #ebebff;
  padding: 10px;
  margin: 0 10px 0 0;
  height: 24px;
  border-radius: 8px;
  padding-left: 10;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}
.footer {
  background-color: white;
  padding: 0;
}

.about {
  display: flex;
  flex-direction: column;
}
.about h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.connect {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.nav-icon {
  display: flex;
}

.icon {
  padding: 10px;
}

.about ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.languages,
.frameworks {
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
}
.skills {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
}

.get-my-resume {
  align-items: center;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid #9eb4ec;
  box-sizing: border-box;
  border-radius: 16px;
  width: 200px;
  font-size: 24px;
  margin-left: 10px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  height: 775px;

  background-image: url("./images/contact-me.svg");
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 775px;
  background-image: url("./images/header-mobile.svg");
}

.wrapper h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 150px;
}

.wrapper p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 10px;
}

.me {
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.email {
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message {
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 10px;
}
